
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> Directory based PhpStorm project format ###
/.idea/
###< PhpStorm project ###
